@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --ff-wg-primary: 800;
    --ff-wg-second: 600;
    --ff-wg-third: 500;
    --ff-wg-four: 400;
/*  */
    --ff-primary: 'Albert Sans', sans-serif;
    --clr-primary: #172B4D;
    --clr-secondary: white;
/*  */
    --bg-primary: white;
    --bg-secondary: #111827;
    --bg-btn: #0876DD;
    --bg-ellipse: #CFFAFE;
}

/** HEADER 1º CONTAINER */
header{
    overflow: hidden;
}

.h-top-container{
    max-width: 1920px;
    padding: 1rem 6rem;
    margin: 0 auto;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-logo{
    display: flex;
    align-items: center;
    gap: .2rem;
}

.h-logo img{
    width: 100%;
}

.h-logo h1{
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-family: var(--ff-primary);
    font-weight: var(--ff-wg-primary);
    color: var(--clr-primary);
}

.h-top-btn{
    border-radius: 6px;
    padding: .7rem 1.2rem;
    background-color: var(--bg-btn);
    cursor: pointer;
    border: none;
    position: relative;
    z-index: 2;
}

.h-top-btn a{
    font-size: calc(.5rem + .5vw);
    font-weight: var(--ff-wg-second);
    font-family: var(--ff-primary);
    color: var(--clr-secondary);
}

/** HEADER 2º CONTAINER */
.h-low-container{
    max-width: 1920px;
    padding: 0 4rem 0 6rem;
    margin: 0 auto 4rem;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.h-txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.h-txt h2{
    width: min(15ch, 50vw);
    font-size: clamp(1.5rem, 4.5vw, 5rem);
    font-weight: var(--ff-wg-primary);
    font-family: var(--ff-primary);
}

.h-txt p{
    width: max(45ch, 40%);
    font-size: clamp(.7rem, 1.2vw, 1.5rem);
    font-weight: var(--ff-wg-four);
    font-family: var(--ff-primary);
}

.h-low-btn{
    width: min(16vw, 10.5rem);
    height: 2.5rem;
    border-radius: 6px;
    background-color: var(--bg-btn);
    cursor: pointer;
    border: none;
}

.h-low-btn a{
    font-size: calc(.5rem + .5vw);
    font-weight: var(--ff-wg-second);
    font-family: var(--ff-primary);
    color: var(--clr-secondary);
}

.h-low-fig{
    width: 100%;
    position: relative;
    z-index: 1;
}

.h-low-fig img{
    width: 100%;
}

/** HEADER ELLIPSE */
.h-ellipse{
    width: 52vw;
    height: 52vw;
    border-radius: 50%;
    background-color: var(--bg-ellipse);
    position: absolute;
    inset: -18rem 0 0 9rem;
    z-index: -1;
}

/** MAIN 1º CONTAINER */
.main-wrapper{
    max-width: 1920px;
    padding: 0 4rem 0 6rem;
    margin: 0 auto 4rem;
    background-color: var(--bg-primary);
}

.main-top-container{
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.main-top-txt h2{
    margin-bottom: .5rem;
    font-size: clamp(1.5rem, 3.5vw, 4rem);
    font-weight: var(--ff-wg-primary);
    font-family: var(--ff-primary);
}

.main-top-txt p{
    font-size: clamp(.7rem, 1.2vw, 1.5rem);
    font-weight: var(--ff-wg-four);
    font-family: var(--ff-primary);
    text-align: center;
}

.main-top-fig{
    width: 64%;
}

.main-top-fig img{
    width: 100%;
}

.main-top-btn{
    background-image: url('assets/main\ C1_02.svg');
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: -30px;
    width: min(25vw, 18rem);
    height: 3.5rem;
    box-shadow: 0px 8px 16px -4px rgba(28, 44, 64, 0.08);
    border-radius: 100px;
    background-color: var(--bg-primary);
    cursor: pointer;
    border: none;
    position: absolute;
    bottom: -1rem;
}

.main-top-btn a{
    font-size: calc(.5rem + .5vw);
    font-weight: var(--ff-wg-third);
    font-family: var(--ff-primary);
    margin-left: 2rem;
    color: black;
}

/** MAIN 2º CONTAINER */
.main-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 2rem;
}

.event-card, .registration-card, .branded-card,
.app-card, .attend-card, .calendar-card{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.card-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.card-img{
    width: 5vw;
}

.card-h3{
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: var(--ff-wg-primary);
    font-family: var(--ff-primary);
}

.card-paragraph{
    width: max(35ch, 20%);
    font-size: clamp(.5rem, 1vw, 1rem);
    font-weight: var(--ff-wg-four);
    font-family: var(--ff-primary);
    text-align: center;
}

/** MAIN 3º CONTAINER */
.main-low-container{
    max-width: 1920px;
    padding: 5rem 4rem 5rem 6rem;
    margin: 0 auto 4rem;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    overflow: hidden;
}

.main-low-txt{
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.main-low-txt h2{
    width: min(15ch, 50vw);
    margin-bottom: 1.5rem;
    font-size: clamp(1.5rem, 3.5vw, 4rem);
    font-weight: var(--ff-wg-primary);
    font-family: var(--ff-primary);
}

.main-low-txt p{
    font-size: clamp(.5rem, 1.2vw, 1.2rem);
    font-weight: var(--ff-wg-four);
    font-family: var(--ff-primary);
}

.tool-wrapper{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.tool-fig{
    display: flex;
}

.tools-img{
    width: 8vw;
}

/** MAIN ELLIPSE */
.main-low-ellipse{
    width: 45vw;
    height: 45vw;
    border-radius: 50%;
    background-color: var(--bg-ellipse);
    position: absolute;
    left: 17vw;
    bottom: 0;
    z-index: 0;
}

/** FOOTER CONTAINER */
.f-container{
    max-width: 1920px;
    padding: 4rem 4rem 2rem 6rem;
    margin: 0 auto;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-txt{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.f-txt h2{
    font-size: clamp(1.5rem, 3.5vw, 4rem);
    font-weight: var(--ff-wg-primary);
    font-family: var(--ff-primary);
    color: var(--clr-secondary);
}

.f-txt p{
    width: max(45ch, 50%);
    font-size: clamp(.5rem, 1.2vw, 1.2rem);
    font-weight: var(--ff-wg-four);
    font-family: var(--ff-primary);
    color: var(--clr-secondary);
    text-align: center;
}

.f-btn{
    border-radius: 6px;
    padding: .7rem 1.2rem;
    background-color: var(--bg-btn);
    cursor: pointer;
    border: none;
}

.f-btn a{
    font-size: calc(.5rem + .5vw);
    font-weight: var(--ff-wg-second);
    font-family: var(--ff-primary);
    color: var(--clr-secondary);
}

.f-fig img{
    width: 3vw;
    margin-top: 4vw;
}

.f-bottom-txt{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.f-bottom-txt p{
    font-size: clamp(.5rem, 1.2vw, 1.2rem);
    font-weight: var(--ff-wg-four);
    font-family: var(--ff-primary);
    color: var(--clr-secondary);
    text-align: center;
}

@media (max-width:800px){
    :root{
        --spacer-one: 1rem 2rem;
    }

    /** HEADER 1º CONTAINER */
    .h-top-container{
        padding: var(--spacer-one);
    }

    .h-top-btn a{
        font-size: calc(.5rem + 1vw);
    }

    /** HEADER 2º CONTAINER */
    .h-low-container{
        padding: var(--spacer-one);
        flex-direction: column;
        align-items: flex-start;
    }

    .h-txt{
        width: 100%;
        margin-bottom: 2rem;
    }

    .h-txt h2{
        width: min(15ch, 100%);
        font-size: calc(.5rem + 7vw);
    }

    .h-txt p{
        font-size: calc(.5rem + 1.3vw);
    }

    .h-low-btn{
        width: 10rem;
        height: 2.5rem;
    }

    .h-low-btn a{
        font-size: calc(.5rem + 1vw);
    }

    .h-ellipse{
        width: 100%;
        height: 100%;
        top: -7rem;
        left: 5rem;
    }

    /** MAIN 1º CONTAINER */
    .main-wrapper{
        margin: 0 auto 2rem;
        padding: var(--spacer-one);
    }

    .main-top-txt h2{
        font-size: calc(.5rem + 6vw);
        text-align: center;
    }

    .main-top-txt p{
        font-size: calc(.5rem + 1.5vw);
    }

    .main-top-fig{
        width: 100%;
    }

    .main-top-fig img{
        width: 100%;
    }

    .main-top-btn{
        width: 13.5rem;
        height: 3rem;
    }

    .main-top-btn a{
        font-size: calc(.5rem + 1vw);
    }

    /** MAIN 2º CONTAINER */
    .main-card{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .card-img{
        width: 10vw;
    }
    
    .card-h3{
        font-size: calc(.5rem + 1.5vw);
    }
    
    .card-paragraph{
        font-size: calc(.2rem + 1.6vw);
    }

    /** MAIN 3º CONTAINER */
    .main-low-container{
        padding: var(--spacer-one);
        flex-direction: column;
        margin: 0 auto 2rem;
    }

    .main-low-txt{
        width: 100%;
        align-items: center;
    }

    .main-low-txt h2{
        width: min(25ch, 80%);
        font-size: calc(.5rem + 6vw);
        text-align: center;
    }
    
    .main-low-txt p{
        font-size: calc(.5rem + 1.5vw);
        text-align: center;
    }

    .tool-wrapper{
        width: 100%;
    }
    
    .tool-fig{
        gap: 2rem;
    }

    .tools-img{
        width: 15vw;
    }

    .main-low-ellipse{
        width: 85vw;
        height: 85vw;
        left: 7%;
        bottom: 12rem;
    }

    /** FOOTER */
    .f-container{
        padding: var(--spacer-one);
    }

    .f-txt{
        padding-top: 3rem;
    }

    .f-txt h2{
        font-size: calc(.5rem + 5vw);
        text-align: center;
    }
    
    .f-txt p{
        width: max(65ch, 80%);
        font-size: calc(.2rem + 1.5vw);
    }

    .f-btn{
        padding: 1rem 1.5rem;
    }
    
    .f-btn a{
        font-size: calc(.5rem + 1.5vw);
    }

    .f-fig{
       margin-top: 5vw;
    }

    .f-fig img{
        width: 6vw;
    }

    .f-bottom-txt{
        padding-top: 1rem;
        flex-direction: column;
        gap: .5rem;
    }

    .f-bottom-txt p{
        font-size: calc(.5rem + 1.2vw);
    }
}

@media (max-width:550px){
    :root{
        --spacer-two: 1rem;
    }

    /** HEADER 1º CONTAINER */
    .h-top-container{
        padding: var(--spacer-two);
    }

    /** HEADER 2º CONTAINER */
    .h-low-container{
        padding: var(--spacer-two);
        gap: 2rem;
    }

    .h-txt p{
        width: max(34ch, 40%);
        font-size: calc(.5rem + 1.5vw);
    }

    .h-ellipse{
        top: -3rem;
        left: 4rem;
    }

    /** MAIN 1º CONTAINER */
    .main-wrapper{
        padding: var(--spacer-two);
    }

    .main-top-txt h2{
        width: 14ch;
        font-size: calc(.5rem + 8vw);
        text-align: center;
    }

    .main-top-txt p{
        font-size: calc(.6rem + 1.5vw);
    }

    .main-top-btn{
        width: 14rem;
        height: 3rem;
    }

     /** MAIN 2º CONTAINER */
    .main-card{
        grid-template-columns: 1fr;
    }

    .event-card, .registration-card, .branded-card,
    .app-card, .attend-card, .calendar-card{
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }

    .card-wrapper{
        align-items: flex-start;
        gap: .5rem;
    }

    .card-img{
        width: 12vw;
    }
    
    .card-h3{
        font-size: calc(.8rem + 2vw);
    }
    
    .card-paragraph{
        width: max(30ch, 100%);
        font-size: calc(.45rem + 1.5vw);
        text-align: left;
    }

    /** MAIN 3º CONTAINER */
    .main-low-container{
        padding: var(--spacer-two);
    }

    .main-low-txt h2{
        width: min(15ch, 100%);
        padding-top: 2rem;
        font-size: calc(.5rem + 8vw);
    }

    .tools-img{
        width: 15vw;
    }

    .main-low-ellipse{
        width: 85vw;
        height: 85vw;
        left: 7%;
        bottom: 12rem;
    }

    /** FOOTER */
    .f-container{
        padding: var(--spacer-two);
    }

    .f-txt h2{
        font-size: calc(1rem + 5vw);
    }
    
    .f-txt p{
        width: max(35ch, 45%);
        font-size: calc(.5rem + 1.5vw);
    }

    .f-fig img{
        width: 8vw;
    } 
}
